<ActionBar>
  <FlexBoxLayout>
    <image src="~/app/images/logo.png"></image>
    <Label class="logo" text="brit"></Label>
  </FlexBoxLayout>
</ActionBar>
<StackLayout>
  <FlexBoxLayout class="zone-pick">
    <Label text="Герметик: {{ results['mass'] }} кг"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick">
    <Label text="Грунтовка полимерная: {{ results['gMass'] }} кг"> </Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick">
    <Label text="Шнур уплотнительный термостойкий «Брит»:"> </Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick" *ngFor="let indexOfRez of helper"
    ><Label text="Шнур Ø{{ indexOfRez }}: {{ results[indexOfRez] }} м"></Label
  ></FlexBoxLayout>
  <FlexBoxLayout class="zone-btn">
    <Button (tap)="onBackTap()" text="Назад"></Button>
  </FlexBoxLayout>
</StackLayout>
