image {
  width: 100px;
  height: 100px;
}
.logo {
  font-size: 30em;
  font-weight: bold;
  color: rgb(0, 112, 186);
}
.zone-pick {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5;
}
.zone-btn {
  margin: 0px 75px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}

label {
  font-size: 15em;
  font-weight: bold;
  color: rgb(47, 180, 233);
}
button {
  font-size: 15em;
  font-weight: bold;
  color: rgb(0, 112, 186);
}
.b {
  padding-top: 10em;
  font-size: 10em;
  font-weight: 700;
  color: rgb(47, 180, 233);
}
.u {
  padding-bottom: 10em;
  font-size: 10em;
  font-weight: 700;
  color: rgb(47, 180, 233);
}
