.zone-pick {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}
.dkz-btn {
  width: 15%;
  margin: 0;
}
.dkz-selected-btn {
  background-color: rgb(47, 180, 233);
}
.input-zone {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: auto;
  width: 90%;
}
TextField {
  width: 66%;
}
.rule-btn {
  margin: 0;
  width: 50%;
}

label {
  font-size: 15em;
  font-weight: bold;
  color: rgb(47, 180, 233);
}
button {
  font-size: 15em;
  font-weight: bold;
  color: rgb(0, 112, 186);
}
image {
  width: 50px;
  height: 75px;
}
.logo {
  font-size: 30em;
  font-weight: bold;
  color: rgb(0, 112, 186);
}
