<ActionBar>
  <FlexBoxLayout>
    <image src="~/app/images/logo.png"></image>
    <Label class="logo" text="brit"></Label>
  </FlexBoxLayout>
</ActionBar>

<StackLayout class="page__content">
  <FlexBoxLayout class="zone-pick">
    <Label
      class="mainLabels"
      text="Созданные Швы: {{ seamList.length }}"
    ></Label>
  </FlexBoxLayout>
  <ScrollView orientation="horizontal">
    <FlexBoxLayout class="zone-pick">
      <Button
        *ngFor="let seam of seamList; let i = index"
        (tap)="getSelectedSeam(i)"
        [ngClass]="curSeamID === i ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
        text="Шов №{{ i + 1 }}"
      ></Button>
    </FlexBoxLayout>
  </ScrollView>
  <FlexBoxLayout class="zone-pick">
    <Label class="mainLabels" text="Выбор дорожно-климатической зоны:"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick">
    <Button
      (tap)="pickHermetic(0)"
      [ngClass]="curDkz === 0 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8544;"
    ></Button>
    <Button
      (tap)="pickHermetic(1)"
      [ngClass]="curDkz === 1 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8545;"
    ></Button>
    <Button
      (tap)="pickHermetic(2)"
      [ngClass]="curDkz === 2 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8546;"
    ></Button>
    <Button
      (tap)="pickHermetic(3)"
      [ngClass]="curDkz === 3 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8547;"
    ></Button>
    <Button
      (tap)="pickHermetic(4)"
      [ngClass]="curDkz === 4 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8548;"
    ></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick">
    <Label class="mainLabels" text="Выбор герметика:"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout
    class="zone-pick"
    *ngIf="curHermetic.single || curHermetic.one"
  >
    <Button
      *ngIf="!curHermetic.one"
      [ngClass]="
        indexOfCurHer === 0 ? 'dkz-btn-her dkz-selected-btn' : 'dkz-btn'
      "
      (tap)="getDen(0)"
      text="{{ curHermetic.single }}"
    ></Button>
    <Button
      *ngIf="curHermetic.one"
      [ngClass]="
        indexOfCurHer === 0 ? 'dkz-btn-her dkz-selected-btn' : 'dkz-btn-her'
      "
      (tap)="getDen(0)"
      text="{{ curHermetic.one }}"
    ></Button>
    <Button
      *ngIf="curHermetic.two"
      [ngClass]="
        indexOfCurHer === 1 ? 'dkz-btn-her dkz-selected-btn' : 'dkz-btn-her'
      "
      (tap)="getDen(1)"
      text="{{ curHermetic.two }}"
    ></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="Lш"></Label>
    <TextField
      hint="Длина шва"
      keyboardType="number"
      [text]="seamLength"
      (textChange)="getInputLength($event)"
    ></TextField>
    <Label text="м"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="Bш"></Label>
    <TextField
      hint="Ширина шва"
      keyboardType="number"
      [text]="seamWidth"
      (textChange)="getInputWidth($event)"
    ></TextField>
    <Label text="мм"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="Hш"></Label>
    <TextField
      hint="Глубина разделки шва"
      keyboardType="number"
      [text]="seamDepth"
      (textChange)="getInputDepth($event)"
    ></TextField>
    <Label text="мм"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="Hзш"></Label>
    <TextField
      hint="Глубина заливки камеры шва"
      keyboardType="number"
      [text]="seamCastDepth"
      (textChange)="getInputCastDepth($event)"
    ></TextField>
    <Label text="мм"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="chkBtnDisabled()"
      (tap)="onSaveSeam()"
      class="rule-btn"
      text="Добавить"
    ></Button>
    <Button
      [isEnabled]="chkBtnDisabled()"
      (tap)="onDelete()"
      class="rule-btn"
      text="Удалить"
    ></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="chkBtnDisabled()"
      (tap)="onUpdate()"
      class="rule-btn"
      text="Обновить"
    ></Button>
    <Button (tap)="onClear()" class="rule-btn" text="Очистить"></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="!!seamList.length"
      class="rule-btn"
      text="Рассчитать"
    ></Button>
  </FlexBoxLayout>
</StackLayout>
