<ActionBar>
  <FlexBoxLayout>
    <image src="~/app/images/logo.png"></image>
    <Label class="logo" text="brit"></Label>
  </FlexBoxLayout>
</ActionBar>

<StackLayout class="page__content">
  <FlexBoxLayout class="zone-pick">
    <Label
      class="mainLabels"
      text="Созданные Швы: {{ seamList.length }}"
    ></Label>
  </FlexBoxLayout>
  <ScrollView orientation="horizontal">
    <FlexBoxLayout class="zone-pick">
      <Button
        *ngFor="let seam of seamList; let i = index"
        (tap)="getSelectedStone(i)"
        [ngClass]="curSeamID === i ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
        text="Шов №{{ i + 1 }}"
      ></Button>
    </FlexBoxLayout>
  </ScrollView>
  <FlexBoxLayout class="zone-pick">
    <Label class="mainLabels" text="Выбор дорожно-климатической зоны:"></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="zone-pick">
    <Button
      (tap)="pickMast(2)"
      [ngClass]="curDkz === 2 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8545; ДШ-85"
    ></Button>
    <Button
      (tap)="pickMast(3)"
      [ngClass]="curDkz === 3 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8546; ДШ-85"
    ></Button>
    <Button
      (tap)="pickMast(4)"
      [ngClass]="curDkz === 4 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8547; ДШ-90"
    ></Button>
    <Button
      (tap)="pickMast(5)"
      [ngClass]="curDkz === 5 ? 'dkz-btn dkz-selected-btn' : 'dkz-btn'"
      text="&#8548; ДШ-90"
    ></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="L"></Label>
    <Label class="b" text="ш"></Label>
    <TextField
      hint="Длина шва"
      keyboardType="number"
      [text]="seamLength"
      [ngClass]="wrongLength ? 'user-input-warning' : ''"
      (textChange)="getInputLength($event)"
    ></TextField>
    <Label text="м"></Label>
    <Label
      [ngClass]="wrongLength ? 'user-outer-warning' : 'user-outer-nowarning'"
      text="&nbsp;&#9888;"
      (tap)="warnUser('10000 > Lш > 1')"
    ></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="B"></Label>
    <Label class="b" text="ш"></Label>
    <TextField
      hint="Ширина шва"
      keyboardType="number"
      [text]="seamWidth"
      [ngClass]="wrongWidth ? 'user-input-warning' : ''"
      (textChange)="getInputWidth($event)"
    ></TextField>
    <Label text="мм"></Label>
    <Label
      [ngClass]="wrongWidth ? 'user-outer-warning' : 'user-outer-nowarning'"
      text="&nbsp;&#9888;"
      (tap)="warnUser('10000 > Bш > 1')"
    ></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Label text="H"></Label>
    <Label class="b" text="ш"></Label>
    <TextField
      hint="Глубина разделки шва"
      keyboardType="number"
      [text]="seamDepth"
      [ngClass]="wrongDepth ? 'user-input-warning' : ''"
      (textChange)="getInputDepth($event)"
    ></TextField>
    <Label text="мм"></Label>
    <Label
      [ngClass]="wrongDepth ? 'user-outer-warning' : 'user-outer-nowarning'"
      text="&nbsp;&#9888;"
      (tap)="warnUser('10000 > Hш > 1')"
    ></Label>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="chkCreateDisabled()"
      (tap)="onSaveStoneSeam()"
      class="rule-btn"
      text="Добавить"
    ></Button>
    <Button
      [isEnabled]="chkBtnDisabled()"
      (tap)="onDelete()"
      class="rule-btn"
      text="Удалить"
    ></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="chkBtnDisabled()"
      (tap)="onUpdate()"
      class="rule-btn"
      text="Обновить"
    ></Button>
    <Button (tap)="onClear()" class="rule-btn" text="Очистить"></Button>
  </FlexBoxLayout>
  <FlexBoxLayout class="input-zone">
    <Button
      [isEnabled]="!!seamList.length"
      class="rule-btn"
      [nsRouterLink]="'rstone'"
      text="Рассчитать"
    ></Button>
  </FlexBoxLayout>
</StackLayout>
